* {
  box-sizing: border-box;
}
body {
  background-color: #ccf;
}
.imageshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.images {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -72px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: rgba(255, 0, 0, 0.8);
}
@media screen and (max-width: 600px) {
  .prev,
  .next {
    margin-top: -22px;
    font-size: 16px;
  }
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbers {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.spot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.spot:hover {
  background-color: #fa0;
}

.active {
  background-color: #0a0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
* {
  box-sizing: border-box;
}
body {
  background-color: #ccf;
}
.imageshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.images {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -72px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: rgba(255, 0, 0, 0.8);
}
@media screen and (max-width: 600px) {
  .prev,
  .next {
    margin-top: -22px;
    font-size: 16px;
  }
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.spot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.spot:hover {
  background-color: #fa0;
}

.active {
  background-color: #0a0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
